body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f89fee;
  color: #13021d;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #490742;
  padding: 15px 30px;
  color: white;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

nav button {
  background: rgba(168, 5, 244, 0.2);
  color: white;
  border: none;
  padding: 8px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

nav button:hover {
  background: rgba(255,255,255,0.4);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.card {
  background: #f563d3;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  margin: 0 0 10px 0;
  color: #24042a;
}

.card p {
  margin: 3px 0;
  color: #43093a;
}

.song-list {
  margin-top: 10px;
  text-align: left;
}

.song-list p {
  font-size: 0.9em;
  margin: 2px 0;
  color: #2a052c;
}

button {
  background: #610867;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background: #bd355e;
}

input, select {
  padding: 8px;
  margin: 5px 0 15px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f563d3;
  color: white;
}

form {
  margin-top: 30px; 
  margin-left: 50px;
  margin-right: 50px;
  background: #1a041f;
  padding: 20px;
  padding-right: 40px;
  border-radius: 10px;
}

form input {
  background: #561b5e;
  color: #fd64ca;
  border: 1px solid #777;
}

form input::placeholder {
  color: #ccc;
}
