body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  color: #e0e0e0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #54057c, #d930e9);
  padding: 15px 30px;
  color: white;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

nav button {
  background: rgba(57, 7, 79, 0.2);
  color: white;
  border: none;
  padding: 8px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

nav button:hover {
  background: rgba(255,255,255,0.4);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.card {
  background: rgb(58, 8, 65);
  border: 1px solid rgba(124, 58, 237, 0.3);
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  box-shadow: 0 4px 8px rgb(93, 31, 103);
  text-align: center;
  transition: transform 0.2s;  
}

.artist-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.song {
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  margin: 0 0 10px 0;
  color: #f9f6fa;
}

.card p {
  margin: 3px 0;
  color: #f0a0e4;
}

.song-list {
  margin-top: 10px;
  text-align: left;
}

.song-list p {
  font-size: 0.9em;
  margin: 2px 0;
  color: #f8f9f7;
}

button {
  background: #aa0fb6;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background: #bd355e;
}

input, select {
  padding: 8px;
  margin: 5px 0 15px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f563d3;
  color: rgb(7, 7, 7);
}

form {
  margin-top: 30px; 
  margin-left: 50px;
  margin-right: 50px;
  background: #610867;
  padding: 20px;
  padding-right: 40px;
  border-radius: 10px;
}

form input {
  background: #b10dbd;
  color: #fd64ca;
  border: 1px solid #777;
}

form input::placeholder {
  color: #ccc;
}

footer {
    background: linear-gradient(135deg, #54057c, #d930e9);
    color: white;
    padding: 30px 0;
    margin-top: 30px;
    text-align: center;;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.footer-section h4 {
    color: #ec4899;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
    opacity: 0.9;
}
.song a {
  color: #f472b6;
}

.song a:hover {
  color: #fb7185;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}